<%= javascript_include_tag "ckeditor/ckeditor.js" %>
<%= form_for(@business) do |f| %>
  <% if @business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% @business.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class =>"ckeditor" %>
  </div>
  
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script language="javascript" type="text/javascript">
$(document).ready(function() {
   if ($('textarea').length > 0) {      
     var data = $('textarea');
     $.each(data, function(i) {
       CKEDITOR.replace(data[i].id);
     });    
   } 
});
</script>