<div class="navbar">
  <div class="navbar-inner">
    <div class="container"><!-- Collapsable nav bar -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Your site name for the upper left corner of the site -->
      <a class="brand">Business redefined</a>
 
      <!-- Start of the nav bar content -->
      <div class="nav-collapse"><!-- Other nav bar content -->
    
        <!-- The drop down menu -->
        <ul class="nav pull-right">
          <li><% if devise_mapping.registerable? && controller_name != 'registrations' %>
                  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
              <% end %>
            </li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
              <!-- Login form here -->
              <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                <div class="form-inputs">
                  <%= f.input :email, :required => false, :autofocus => true %>
                  <%= f.input :password, :required => false %>
                  <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
                </div>

                <div class="form-actions">
                  <%= f.button :submit, "Sign in" %>
                </div>
              <% end %>
              <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
                <% end -%>
              <%= render "devise/shared/links" %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="businesstabs_part">
  <%= render "businesses/businesslist" %>
</div> 