<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "BCatalogue" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>
     <body>
  
    <div class="brand">Business Catalogue</div>
    <div class="address-bar">The Heritage Plaza | Kathmandu-32  | Ganesh Man Singh Marg, Maitidevi 26892 | +977-01-4428667</div>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Business Casual</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
              <li><%= link_to "Home", dashboard_path %></li>
              <li><%= link_to "Add business", new_business_path   %></li>
              <li><%= link_to "Business list", businesses_path  %></li>
              <li><%= link_to "Dashboard", dashboard_path    %></li>
              <li><%= link_to "Contact us", new_contactu_path, "data-no-turbolink" => true %></li>
              <% if user_signed_in? %>
              <div class = "signout_link">
                <i><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete,data: { confirm: 'Really sign out??' },title: "sign out"%></i>
              </div>
          <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

    <div class="container">

      <% if current_page?(controller: 'sessions', action: 'new') %>
      <div class="row">
        <div class="box">
          <div class="col-lg-12 text-center">
            <div id="carousel-example-generic" class="carousel slide">
              <!-- Indicators -->
              <ol class="carousel-indicators hidden-xs">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>
            
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img class="img-responsive img-full" src="/images/slide-1.jpg" >
                </div>
                <div class="item">
                  <img class="img-responsive img-full" src="/images/slide-2.jpg" >
                </div>
                <div class="item">
                  <img class="img-responsive img-full" src="/images/slide-3.jpg" >
                </div>
              </div>
            
              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="icon-next"></span>
              </a>
            </div>
            <h1><small>Your Business grow with us</small></h1>
          </div>
        </div>
      </div>
      <% end %>

      <div class="row">
        <div class="box">
          <div class="col-lg-12">
            <%= bootstrap_flash %>
            <%= yield %>
            
          </div>
        </div>
      </div>

      <div class="row">
        <div class="box">
          <div class="col-lg-12">
            some contents
        </div>
          </div>
        </div>
      </div>

    </div><!-- /.container -->
    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <p>Copyright &copy; 2013 <br><span id="lfid">Leapfrog Technology, Inc.</span> 
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Make sure to add jQuery - download the most recent version at http://jquery.com/ -->
    <%= javascript_include_tag "jquery-1.7.1.min" %>
    <%= javascript_include_tag "bootstrap" %>
    <script>
    // Activates the Carousel
    $('.carousel').carousel({
    interval: 9000
    })
  </script>
  </body>
</html>
